<% if comic[:upvotes].positive? %>
  <div id=<%= "#{comic[:id]}" %> class="relative border-8 border-red-700">
<% else %>
  <div id=<%= "#{comic[:id]}" %> class="relative">
<% end %>
  <button onClick=<%= "upvoteComic(#{comic[:id]})"%> class="content_img" id=<%= comic[:id] %>
    <%= image_tag "#{comic[:cover]}/portrait_fantastic.jpg" %>
    <div id=<%= "heartOn#{comic[:id]}" %> class="absolute top-0 right-0 invisible heart">
      <%= image_tag "heart_on.png" %>
    </div>
    <div class="title">
      <%= comic[:title].upcase %>
    </div>
  </button>
</div>
