<div class="grid grid-cols-5 gap-5 items-center">
  <% @comics.each do |comic| %>
    <%= render partial: 'comic_cover', locals: { comic: comic } %>
  <% end %>
</div>
<div class="flex flex-row py-10">
  <% if @previous_page %>
    <%= link_to(character_comics_page_url(@previous_page)) do %>
      <button class="flex-grow-0 bg-white text-red-700 text-lg font-bold w-40 h-8" id="previpus-page-button">
        PREVIOUS PAGE
      </button>
    <% end %>
  <% else %>
    <div class="flex-grow"></div>
  <% end %>
  <div class="flex-grow"></div>
  <% if @next_page %>
    <%= link_to(character_comics_page_url(@next_page)) do %>
      <button class="flex-grow-0 flex-grow-0 bg-white text-red-700 text-lg font-bold w-40 h-8" id="next-page-button">
       NEXT PAGE
      </button>
    <% end %>
  <% else %>
    <div class="flex-grow"></div>
  <% end %>
</div>
