<header class="bg-red-700">
  <div class="flex flex-col p-6 items-center justify-center gap-y-5">
    <%= link_to root_path do %>
      <%= image_tag "marvel_logo.png", alt: "ComicsApp" %>
    <% end%>
    <%= form_tag(character_comics_path, id: "search", method: :get) do %>
      <%= text_field_tag(:name, nil, class: "rounded w-64 py-1 px-3 text-gray-700 italic") %>
    <% end %>
  </div>
</header>
