<% unless flash.empty? %>
  <div id="flash-messages" class="p-6 max-w-sm mx-auto bg-red-700 rounded-xl shadow-md flex items-center space-x-4">
    <% flash.each do |type, msg| %>
      <div id="flash-message" class="text-xl font-medium text-white">
        <%= msg %>
      </div>
    <% end %>
  </div>
<% end %>
