.content_img div{
 position: absolute;
 bottom: 0;
 right: 0;
 background: black;
 color: white;
 margin-bottom: 5px;
 opacity: 0;
 visibility: hidden;
 -webkit-transition: visibility 0s, opacity 0.5s linear;
 transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
.content_img:hover{
 cursor: pointer;
}

.content_img:hover .heart{
 visibility: visible;
 opacity: 0.9;
 background: none;
}


.content_img:hover .title{
 visibility: visible;
 opacity: 0.9;
 background: white;
 color: black;
}
