<!DOCTYPE html>
<html>
  <head>
    <title>ComicsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>

  <body style="background: #2b2b2b">
    <div class="flex flex-col h-screen">
      <%= render partial: 'shared/header' %>
      <%= render partial: 'shared/main' %>
    </div>
  </body>
</html>
